body {
    background: #CDCDEF;
}

#bg-stretch {
    width: 80%;
    min-height: 40cm;
    margin: auto;
    border: solid 2px #000;

    background-image: url ('./Derick Pic.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}
